# build artifacts & media
out/**
runs/**
*.mp4
*.mov
*.mkv
*.avi
*.webm
*.jpg
*.jpeg
*.png
*.tif
*.psd
*.srt
*.ffconcat

# python caches / venv
__pycache__/**
.venv/**

# notebooks & temp
*.ipynb_checkpoints/**
